 <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <% @tweets.each do |tweet| %>
          	<%= tweet.text %>
          	<div class="card-action">
	          <%= link_to "SHOW", "/tweets/#{tweet.id}", method: :get %>
	          <a href="#">EDIT</a>
	          <a href="#">DESTROY</a>
	        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>