 <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <% @tweets.each do |tweet| %>
          	<%= tweet.text %>
          	<div class="card-action">
	           <%= link_to "SHOW", "/tweets/#{tweet.id}", method: :get %>
             <% if user_signed_in? && current_user.id == tweet.user.id %>
	           <%= link_to "EDIT", "/tweets/#{tweet.id}/edit", method: :get %>
	           <%= link_to "DESTROY", "/tweets/#{tweet.id}", method: :delete %>
             <% end %>
	          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>