 <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          	<%= @tweet.text %>
            	<div class="card-action">
    	          <a href="#">EDIT</a>
    	          <a href="#">DESTROY</a>
    	        </div>
      </div>
    </div>
  </div>
</div>