 <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          	<%= @tweet.text %>
            	<div class="card-action">
                <% if user_signed_in? && current_user.id == @tweet.user.id %>
                <%= link_to "EDIT", "/tweets/#{@tweet.id}/edit", method: :get %>
                <a href="#">DESTROY</a>
                <% end %>
    	        </div>
      </div>
    </div>
  </div>
</div>