html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*ここからまでリセットCSS*/


/*ヘッダー部分*/

.header__nav {
	margin-bottom: 0px;
}

.nav__wrapper {
	height: 70px;
	color: white;
	background-color: #F44336;
	line-height: 70px;
    box-shadow: 0 3px 5px gray;
    
}

.brand-logo {
	font-size: 30px;
	text-decoration: none;
	padding-left: 20px;
	float: left;
}

.brand-logo:visited {
	color: white;
}

.menu__list a {
	float: right;
	text-decoration: none;
	padding-right: 20px;
}

.menu__list a:visited {
	color: white;
}

/*メインコンテンツ*/

.wrapper {
	margin-top: 3px;
    background-color: #EEEEEE;
    height: 700px;
}
.contents {
	width: 500px;
	margin: 0 auto;
	padding: 15px;
}

/*各カードのレイアウト*/

.each_card_content {
	min-height: 100px;
	width: 500px;
	background-color: white;
	border: solid 1px #DCDCDC;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 0 1px 5px gray;
	display: block;
	position: relative;
}

.each_card_content p {
	padding: 10px;
	margin-bottom: 40px;
	word-wrap:break-word;
	
}

.action  {
	border-top: solid 1px #DCDCDC;
	padding-top: 10px;
	width: 500px;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.action li {
	float: left;
	list-style: none;

}

.action li a {
	color: white;
	background-color: #FDD835;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    /*border: 1px solid #FFA726;*/
    border-radius: 3px;
    display: block;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.action li a:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: “alpha( opacity=80 )”;
}

/*アクション後*/

.after_action {
    text-align: center;
	height: 100px;
	background-color: white;
	border: solid 1px #DCDCDC;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 1px 5px gray;
}

.after_action p {
	margin: 10px;
}

.after_action a {
	margin: 30px auto;
    color: white;
	background-color: #FDD835;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
}

.after_action a:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: “alpha( opacity=80 )”;
}


